@import url(http://fonts.googleapis.com/css?family=Lato:300);
@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);
body{
  color:#333;
  font-size:15px;
  line-height:25px;
}
.wrapper{
  width:80%;
  max-width:1200px;
  margin:0 auto;
}
.section{
  padding-top:12%;
  font-weight:500;
}
h1,h2,h3,h4{
  font-family:'Lato',sans-serif;
  font-weight:300;
  text-transform:uppercase;
  letter-spacing:2px;
}
h3{
  font-weight:bold;
}
a{
  text-decoration:none;
}
.hero-background{
  background:url(../images/blackNwhite.jpg) no-repeat center fixed;
  padding:1px;

  background-size:cover;
  width:100%;
  height:100vh;
  position:absolute;
  right:0;
  top:0;
  z-index:-1px;
  opacity:0.7;
}
.hero{
  position:relative;
  height:100vh;
}
.title{
  width:100%;
  padding:1% 0 1% 10%;
  background:rgba(255,255,255,0.4);
  font-weight:400;
  position:absolute;
  top:40%;
  display:inline;
  width:60%;
  border-radius:20px;
}
.title h1{
  margin-bottom:10px;
  font-size:40px;
  line-height:normal;
}
.title h2{
  margin-top:0;
  font-weight:400;
  font-size:15px;
}
.title a{
  color:#333;
  font-size:50px;
}
nav{
  width:100%;
  position:fixed;
  background:#333;
  top:0;
  padding:10px 0;
  margin:0;
  font-family:'Lato', sans-serif;
  font-weight:300;
  left:0;
  letter-spacing:2px;
  text-transform:uppercase;
  z-index:1;
}
nav li{
  display:inline-block;
  margin:0 10px;
}
nav li:first-child{
  padding-left:50px;
  margin-left:0;
}
nav li a{
  color:#fff;
}
nav li a:hover{
  text-decoration:underline;
}
.about{
  padding-top:2%;
  margin-bottom:2%;
  padding-bottom:8%;
}
.about h2{
  padding-top:10%;
}
.profilePic{
  float:left;
  width:30%;
  border-radius:50%;
  border:solid 5px #ffc14f;
  margin:2%;
}
