@import url(http://fonts.googleapis.com/css?family=Courgette);
@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);
@import url(http://fonts.googleapis.com/css?family=Lato:300);

body{
  font-family:'Lato', sans-serif;
  background-color:gray;
}

.mobile-nav{
  position:absolute;
  top:0;
  width:35px;
  height:50px;
  cursor:pointer;
  padding-top:10px;
  padding-left:15px;
}

header{
  background-color:#333;
  position:absolute;
  top:0;
  left:0;
  height:75px;
  width:100%;
}

h1{
  height:50px;
  margin-top:10px;
  margin-left:75px;
  font-family:'Walter Turncoat';
  color:teal;
}

.menu-btn span{
  display:block;
  width: 30px;
  height: 5px;
  margin: 9px 0;
  background-color:gray;
}

/* Hamburger menu and slide out */
.slideout-menu{
  position:fixed;
  left:-250px;
  width:250px;
  height:100%;
  background:#333;
  margin-top:-1px;
  overflow:scroll;
}

.slideout-menu ul li{
  border-top:1px solid #454545;
  border-bottom:1px solid #151515;
  list-style-type:none
}

.slideout-menu ul li a{
  position:relative;
  display:block;
  padding:10px;
  color:#999;
  text-decoration:none;
  font-size:1.5em;
  font-family:'Lato', sans-serif;
}

.slidout-menu ul li a:hover{
  text-decoration:underline;
}

.Hair .Make-up .Nails .sub{
  display:none;
}

h3{
  font-size:2.5em;
  text-align:center;
  margin-top:-7px;
}

h4{
  text-align:center;
  font-family:'Walter TurnCoat';
  color:purple;
}

/* Header bar links */
.testLinks{
  position:absolute;
  right:0;
  top:-10px;
  list-style-type:none;
  font-size:2em;
  padding-right:15px;
  padding-top:5px;
}

.testLinks > li{
  display:inline-block;
}

.testLinks > li > a{
  color:gray;
  text-decoration:none;
  margin-right:15px;
}

.testLinks > li > a:hover{
  color:mediumorchid;
  text-decoration:none;
}

/* Content */
.About, .Resume{
  display:none;
}

.other > p{
  margin-left:10px;
  margin-right:10px;
}

.About{
  background-image:url(../images/pinUp.jpg);
  background-size:15%;
  background-repeat:no-repeat;
  background-color:lightgray;
}

.About > p{
  margin-left:16%;
}

/* Image slider */
#slider{
  margin:0 auto;
  list-style-type:none;
  position:relative;
  top:75px;
  width:500px;
  height:350px;
  padding:10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  border-radius:10px;
}

#slider img{
  position:absolute;
  top:25px;
  left:110px;
  width:300px;
  height:300px;
  border-radius:10px;
}

#navigation{
  margin-left:450px;
  list-style-type:none;
  padding:0px;
  margin-bottom:8px;

}

#navigation li{
  z-index:99;
  cursor:pointer;
  display:inline-block;
  border-radius:10px;
  width:10px;
  height:10px;
  margin-top:25px;
  margin-right:10px;
  border:2px solid #2284a1;
  background:white;
}

#navigation li.active{
  background-color:#2284a1;
}

button{
  background-color:transparent;
  font-size:5em !important;
  cursor:pointer;
  z-index:1;
}

#next{
  position:absolute;
  top:45%;
  right:30%;
  color:black;
}

#prev{
  position:absolute;
  top:45%;
  left:30%;
  color:black;
}

button:hover{
  color:darkgray !important;
}
