@import url(http://fonts.googleapis.com/css?family=Courgette);
@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);
@import url(http://fonts.googleapis.com/css?family=Lato:300);

body{
  font-family:'Lato', sans-serif;
  background-color:gray !important;
}

.mobile-nav{
  top:0;
  position:absolute;
  width:35px;
  height:50px;
  cursor:pointer;
  padding-left:12px;
}

header{
  background-color:#333;
}

h1{
  height:50px;
  margin-top:0 !important;
  margin-left: 75px !important;
  font-family:'Walter Turncoat' !important;
  text-decoration:underline;
  color:teal !important;
}

.menu-btn span{
  display:block;
  width: 30px;
  height: 5px;
  margin: 9px 0;
  background-color:gray;
}

/* Hamburger menu and slide out */
.slideout-menu{
  position:fixed;
  left: -250px;
  width: 250px;
  height:100%;
  background: #333;
  margin-top:-1px;
  overflow:scroll;
}

.slideout-menu ul li{
  border-top: 1px solid #454545;
  border-bottom: 1px solid #151515;
}

.slideout-menu ul li a{
  position: relative;
  display:block;
  padding: 10px;
  color:#999;
  text-decoration:none;
  font-size:1.5em;
  font-family:'Lato', sans-serif;
}
.slideout-menu ul li a:hover{
  text-decoration:underline;
}

.Hair .Make-up .Nails .sub{
  display:none;
}

h3{
  font-family:'Lato', sans-serif !important;
  font-size:2.5em !important;
  text-decoration:underline;
  text-align:center;
}

h4{
  text-align:center;
  font-family:'Walter Turncoat' !important;
  color:purple !important;
}

.smLinks{
  list-style-type:none;
  text-align:center;
  font-size:1.5em;
}

.smLinks > li {
  display:inline !important;
}

.testLinks{
  position:absolute;
  right:0;
  top:0;
  list-style-type:none;
  font-size:2em;
  padding-right:15px;
  padding-top:5px;
}

.testLinks > li{
  display:inline;
}

.testLinks > li > a{
  color:mediumorchid;
  text-decoration:none;
}

.testLinks > li > a:hover{
  color:gray !important;
  text-decoration:none !important;
}

.other{
  display:none;
  border-radius:10px;
  margin-right:10%;
  margin-left:255px;
  background-color:lightgray;
  font-family:'Lato',sans-serif;
  font-size:14pt;
}

.other > p{
  margin-left:10px;
  margin-right:10px;
}

.About{
  background-image:url(../images/pinUp.jpg);
  background-size:15%;
  background-repeat:no-repeat;
  background-color:lightgray;
}

.About > p{
  margin-left:16%;
}

#slider{
  width:500px;
  white-space:nowrap;
  overflow:hidden;
  margin-left:325px;

}
#slider > h3{
  margin-left:20px;
  margin-top:-10px;
  margin-bottom:10px;
}
#slider > img{
  margin-left:20%;
  width:300px;
  height:300px;
  margin-right:100%;
  border-radius:20px;
}

.left{
  position:relative;
  top:175pt;
  color:transparent;
  margin-left:40px;
}
.left:hover{
  text-decoration:none;
  color:teal;
}
.left:after{
  position:absolute;
  content:'';
  top:-250%;
  right:-50%;
  left:0;
  bottom:-175%;
}
.right{
  color:transparent;
  position:relative;
  top:175pt;
  float:right;
  margin-right:40px;
}
.right:hover{
  text-decoration:none;
  color:teal;
}
.right:after{
  position:absolute;
  content:'';
  top:-250%;
  right:0;
  left:-50%;
  bottom:-175%;
}
