@import url(http://fonts.googleapis.com/css?family=Courgette);
@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);
@import url(http://fonts.googleapis.com/css?family=Lato:300);
body{
  background-color:darkgray !important;
}
.navbar-brand{
  text-decoration:underline;
  color:teal !important;
  font-weight:bold !important;
  font-size:2em !important;
}
.navbar{
  background-color:gray !important;
  font-family:'Walter Turncoat';
}
li > a{
  color:purple !important;
  font-size:1.5em;
}
footer{
  text-align:center;
  font-family:'Lato', sans-serif;
}
.active > a{
  text-decoration:underline !important;
  background-color:gray !important;
}
a:hover{
  text-decoration:underline !important;
}
.icon-bar{
  background-color:teal !important;
}
.dropdown-header{
  color:teal !important;
}
img{
  display:inline;
  padding:10px;
}
section{
  background-color:darkgray !important;
  font-family:'Lato', sans-serif;
  font-size:medium;
}
h3{
  text-align:center;
  font-family:'Lato', sans-serif !important;
  font-weight:600 !important;
}
.dropdown-menu{
  background-color:gray !important;
}
.dropdown-menu > li > a:hover{
  text-decoration:underline !important;
  background-color:gray !important;
}
span:hover{
  text-decoration:underline !important;
}
button:hover{
  background-color:gray !important;
}
button{
  background-color:gray !important;
}
.small{
  height:100px;
  width:100px;
}
.large{
  height:200px;
  width:200px;
}
#fa{
  list-style-type:none;
  text-align:center;

}
