@import url(http://fonts.googleapis.com/css?family=Courgette);
@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);
@import url(http://fonts.googleapis.com/css?family=Lato:300);

body{
  font-family:'Lato', sans-serif;
  background-color:lightgray !important;
}
/* Hamburger menu and slide out */
.mobile-nav{
  border:1px solid red;
  background-color:gray;
  
}
/*.menu-btn div{
  position:absolute;
  left:100%;
  top:64%;
  padding-right:8px;
  margin-top: -0.50em;
  line-height: 1.2;
  font-size:18px;
  font-weight:200;
  vertical-align:middle;
  z-index:99;
}*/

.menu-btn span{
  display:block;
  width: 22px;
  height: 5px;
  margin: 9px 0;
  background-color:black;
}

.slideout-menu{
  position:fixed;
  top:0;
  left: -250px;
  width: 250px;
  height:100%;
  background: #333;
}
.slideout-menu h3{
  position: relative;
  padding: 12px 10px;
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  border-bottom: 4px solid #222;
}
.slideout-menu .slideout-menu-toggle{
  position: absolute;
  top: 12px;
  right: 10px;
  display: inline-block;
  padding: 6px 9px 5px;
  font-family: 'Walter Turncoat', sans-serif;
  font-weight: bold;
  line-height: 1;
  background: #222;
  color: #999;
  text-decoration: none;
  vertical-align: top;
}
.slideout-menu .slideout-menu-toggle:hover{
  color: #fff;
}
.slideout-menu ul{
  list-style:none;
  font-weight:300;
  border-top: 1px solid #151515;
  border-bottom: 1px solid #454545;
}
.slideout-menu ul li{
  border-top: 1px solid #454545;
  border-bottom: 1px solid #151515;
}
.slideout-menu ul li a{
  position: relative;
  display:block;
  padding: 10px;
  color:#999;
  text-decoration:none;
}
.slideout-menu ul li a:hover{
  background: #000;
  color: #fff;
}
.slideout-menu ul li a i{
  position: absolute;
  top: 15px;
  right: 10px;
  opacity:.5;
}
