@import url(http://fonts.googleapis.com/css?family=Courgette);
@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);
@import url(http://fonts.googleapis.com/css?family=Lato:300);

body{
  font-family:'Lato', sans-serif;
  background-color:gray;
}

.mobile-nav{
  cursor:pointer;
  position:absolute;
  top:0;
  width:3em;
  height:4em;
  padding-top:1.3em;
  padding-left:1em;
}

header{
  background-color:#333;
  position:absolute;
  top:0;
  left:0;
  height:5em;
  width:100%;
}

h1{
  height:1.4em;
  font-size:2.5em;
  margin-top:0.3em;
  margin-left:2.5em;
  font-family:'Walter Turncoat';
  color:teal;
}

/*Hamburger icon*/
.menu-btn span{
  display:block;
  width:2.5em;
  height:0.4em;
  margin-top:0.5em;
  background-color:gray;
}

/*Slideout Menu*/
.slideout-menu{
  position:fixed;
  top:5.0em;
  margin-left:-1em;
  left:-100em;
  width:17em;
  height:100%;
  background:#333;
  overflow:scroll;
}

.slideout-menu ul li{
  border-top:1px solid #454545;
  border-bottom:1px solid #151515;
  list-style-type:none;
}

.slideout-menu ul li a{
  position:relative;
  display:block;
  padding:0.7em;
  color:#999;
  text-decoration:none;
  font-size:1.5em;
  font-family:'Lato', sans-serif;
}

.slideout-menu ul li a:hover{
  text-decoration:underline;
}

/*Contact Links*/
.navLinks{
  font-size:2.5em;
  position:absolute;
  right:0;
  top:-0.5em;
  list-style-type:none;
  padding-right:0;
}

.navLinks > li{
  display:inline-block;
  padding-right:0.4em;
}

.navLinks > li > a{
  color:gray;
  text-decoration:none;
}

.navLinks > li > a:hover{
  color:mediumorchid;
}

/*Content*/
.About, .Resume{
  display:none;
}

.container{
  margin-top:6em;
  margin-left:18em;
  margin-right:2em;
}

.About{
  margin-top:-3em;
}

.About > .img{
  background:url(../images/pinUp.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  overflow:hidden;
  border-radius:5em;
  width:10em;
  height:10em;
}

.About > p{
  height:8em;
  background-color:lightgray;
  border-radius:10px;
  padding-left:1em;
  padding-top:1em;
}

.Resume{
  background-color:lightgray;
  padding-left:1em;
  border-radius:10px;
  margin-top:-3em;
}

.title{
  font-size:2em;
  width:5em;
  height:3em;
  margin-left:6em;
}

/*Footer*/
footer{
  font-family:'Walter Turncoat';
  font-size:1.5em;
  color:purple;
  margin-left:4em;
}
