@import url(http://fonts.googleapis.com/css?family=Courgette);
@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);
@import url(http://fonts.googleapis.com/css?family=Lato:300);

body{
  font-family:'Lato', sans-serif;
  background-color:gray;
}

.mobile-nav{
  position:absolute;
  top:0;
  width:35pt;
  height:50pt;
  padding-top:10pt;
  padding-left:15pt;
}

header{
  border:2px solid red;
  background-color:#333;
  position:absolute;
  top:0;
  left:0;
  height:60pt;
  width:100%;
}

h1{
  height:50pt;
  font-size:2.5em;
  margin-top:10pt;
  margin-left:75pt;
  font-family:'Walter Turncoat';
  color:teal;
}

/*Hamburger icon*/
.menu-btn span{
  display:block;
  width:30pt;
  height:5pt;
  margin-top:8pt;
  margin-right:0;
  margin-bottom:0;
  margin-left:0;
  background-color:gray;
  cursor:pointer;
}

/*Slideout Menu*/
.slideout-menu{
  position:fixed;
  left:-250pt;
  width:200pt;
  height:100%;
  background:#333;
  overflow:scroll;
}

.slideout-menu ul li{
  border-top:1pt solid #454545;
  border-bottom:1pt solid #151515;
  list-style-type:none;
}

.slideout-menu ul li a{
  position:relative;
  display:block;
  padding:10pt;
  color:#999;
  text-decoration:none;
  font-size:1.5em;
  font-family:'Lato', sans-serif;
}

.slideout-menu ul li a:hover{
  text-decoration:underline;
}

/*Contact Links*/
.navLinks{
  font-size:2.5em;
  position:absolute;
  right:0;
  top:-10pt;
  list-style-type:none;
  padding-right:0;
}

.navLinks > li{
  display:inline-block;
  padding-right:10pt;
}

.navLinks > li > a{
  color:gray;
  text-decoration:none;
}

.navLinks > li > a:hover{
  color:mediumorchid;
}

/*Content*/
 .Resume{
  display:none;
}

.container{
  margin-top:65pt;
  margin-left:200pt;

}
footer{
  text-align:center;
  font-family:'Walter Turncoat';
  font-size:2em;
  color:purple;
}
