body{
  background:#f3eff0;
  color:#f3eff0;
  font-family:Helvetica, Arial, sans-serif;
  font-size:100%;
  height:100%;
  margin:0;
  overflow-x:hidden;
  padding:0;
  width:100%;
}

h1,h2,h3,h4,h5,p{
  font-weight:normal;
  margin:0;
  padding:.3em 0;
  width:100%;
}

h1{
  color:#0383a7;
  font-family:Helvetica, Arial, sans-serif;
  line-height:115%;
  margin:0 auto;
  max-width:8.5em;
  text-align:center;
}

#home{
  background:url(../assets/images/lips.jpg) right bottom no-repeat fixed;
  background-size:cover;
  display:block;
  height:990px;
}
#home, #about, #portfolio, #contact, #footer{
  display:inline-block;
  margin:0;
  padding:0;
  position:relative;
  width:100%;
}

#about{
  background:#f3eff0;
  color:#282520;
}

.left-border, .right-border{
  bottom:0;
  position:absolute;
  top:0;
}

.left-border{
  left:0;
}

.right-border{
  right:0;
}

#headshot img{
  border-radius:50%;
  left:0;
  margin:50px;
  top:0;
  width:300px;
}
