body{
  background:#f3eff0;
  color:#f3effo;
  font-size:100%;
  height:100%;
  margin:0;
  overflow-x:hidden;
  padding:0;
  width:100%;
}
h1,h2,h3,h4,h5,p{
  font-weight:normal;
  margin:0;
  padding:.3em 0;
  width:100%;
}
h1{
  color:#0383a7;
  font-size:6em;
  line-height:115%;
  margin:0 auto;
  max-width:8.5em;
  text-align:center;
  text-shadow:2px 2px 0 #282520;
}
h2{
  font-size:4em;
  padding-top:.6em;
  text-align:center;
  text-shadow:1px 1px 0 #282520;
}
h3{
  font-size:1.8em;
}
h4{
  font-size:2.0em;
  margin-bottom:1em;
}
h5{
  font-size:.7em;
  padding:.5em;
  width:auto;
}
p{
  font-size:1.5em;
  line-height:120%;
}
#about a, #portfolio a{
  color:#1dc4f3;
}
#contact a, footer a{
  color:#f3eff0;
}
#home, #about, #contact, footer{
  display:inline-block;
  margin:0;
  padding:0;
  position:relative;
  width:100%;
}
#home{
  background:url(../assets/images/lips.jpg) right bottom no-repeat fixed;
  background-size:cover;
  display:block;
  height:900px;
}
#about{
  background:#f3eff0;
  color:#282520;
}
#contact{
  background:#0383a7;
}
footer{
  background:#282520;
}
.left-border, .right-border{
  bottom:0;
  position:absolute;
  top:0;
}
.left-border{
  left:0;
}
.right-border{
  right:0;
}
.headshot{
  border-radius:300px;
  left:0;
  margin:50px;
  top:0;
  width:300px;
}
.portfolio{
  width:800px;
  position:relative;
}
.portfolio img{

}
.slide{
  width:75%;
  height:90%;
}
.left, .right{
  position:absolute;
  top:50%;
  font-size:2em;
}
.left{
  left:0;
}
.right{
  right:6.2em;
}

.about-content{
  display:inline-block;
  margin:0 15em;
}
.about-content h2{
  color:#50ad0d;
}
.contact-content{
  left:400px;
  margin:75px 0;
  position:absolute;
  right:50px;
  text-align:center;
  top:0;
}
.contact-content a{
  display:inline-block;
  margin:0 5%;
}
.contact-content a:first-of-type{
  margin-left:0;
}
.contact-content a:last-of-type{
  margin-right:0;
}
footer{
  text-align:center;
}
