@import url(https://fonts.googleapis.com/css?family=Kaushan+Script|Raleway|Pacifico);
body{
  background:#f3eff0;
  color:#f3effo;
  font-size:100%;
  height:100%;
  margin:0;
  overflow-x:hidden;
  padding:0;
  width:100%;
}
h1,h2,h3,h4,h5,p{
  font-weight:normal;
  margin:0;
  padding:.3em 0;
  width:100%;
}
h1{
  color:#0383a7;
  font-family:'Pacifico', 'cursive';
  font-size:6em;
  line-height:115%;
  margin:0 auto;
  max-width:8.5em;
  text-align:center;
  text-shadow:2px 2px 0 #282520;
  padding-top:2em;
}
h2{
  font-size:4em;
  padding-top:.6em;
  text-align:center;
  text-shadow:1px 1px 0 #282520;
}
h3{
  font-size:1.8em;
}
h4{
  font-size:2.0em;
  margin-bottom:1em;
}
h5{
  font-size:.7em;
  padding:.5em;
  width:auto;
}
p{
  font-size:1.5em;
  line-height:120%;
}
#contact a, footer a{
  color:#f3eff0;
}
#home, #about, #contact, footer{
  display:inline-block;
  margin:0;
  padding:0;
  position:relative;
  width:100%;
}
#home{
  background:url(../assets/images/lips.jpg) right bottom no-repeat fixed;
  background-size:cover;
  display:block;
  height:900px;
}
#about{
  background:#f3eff0;
  color:#282520;
  font-family:'Raleway', sans-serif;
}
#contact{
  background:#0383a7;
  font-family:'Raleway', sans-serif;
}
.left-border, .right-border{
  bottom:0;
  position:absolute;
  top:0;
}
.left-border{
  left:0;
}
.right-border{
  right:0;
}
.headshot{
  border-radius:300px;
  left:0;
  margin:50px;
  top:0;
  width:300px;
}
.portfolio{
  width:800px;
  position:relative;
  display:block;
  position:relative;
  overflow:hidden;
}

figcaption{
  position:absolute;
  background:rgba(0,0,0,0.75);
  color:white;
  padding:10px 20px;
  opacity:0;
  bottom:0;
  left:-10%;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}
.portfolio:hover figcaption{
  opacity:1;
  left:10em;
}
.portfolio:before{
  content:'?';
  position:absolute;
  background:rgba(255,255,255,0.75);
  color:black;
  width:24px;
  height:24px;
  -webkit-border-radius:12px;
  -moz-border-radius:12px;
  border-radius:12px;
  text-align:center;
  font-size:1.5em;
  line-height:24px;
  left:2em;
  bottom:0;
}
.portfolio:hover:before{
  opacity:0;
}

.slide{
  width:75%;
  height:75%;
  border-radius:30px;
  margin-left:2em;
}
.left, .right{
  position:absolute;
  top:50%;
  font-size:2em;
  cursor:pointer;
  color:gray;
}
.left{
  left:0;
}
.right{
  right:2.8em;
}
.about-content{
  margin:0 15em;
}
.about-content h2{
  color:#9d527b;
  font-family:'Kaushan Script', cursive;
}
.contact-content{
  left:400px;
  margin:75px 0;
  position:absolute;
  right:50px;
  text-align:center;
  top:0;

}
.contact-content a{
  display:inline-block;
  margin:0 5%;
  text-decoration:none;
}
.contact-content a:hover{
  color:orange !important;
}
.contact-content a:first-of-type{
  margin-left:0;
}
.contact-content a:last-of-type{
  margin-right:0;
}
footer{
  text-align:center;
  background:#282520;
}

@media screen and (max-width:1094px){
  .left-border, .right-border{
    display:none !important;
  }
  .slide{
    height:65%;
    width:65%;
  }
  .about-content{
    margin:0;
    margin-left:5%;
    padding:0;
  }
  .left{
    left:1em;
    color:white;
  }
  .right{
    right:5.5em;
    color:white;
  }

}
@media screen and (max-width:768px){
  h1{
    font-size:4em;
  }
  h2{
    font-size:3em;
  }
  .left-border, .right-border{
    display:none !important;
  }
  .slide{
    height:50%;
    width:50%;
    margin-left:5%;
  }
  .left{
    left:5%;
    color:white;
  }
  .right{
    right:7.5em;
    color:white;
  }
  figcaption{
    left:5em !important;
  }
  .about-content{
    margin:0;
    padding-right:1em;
    padding-left:1em;
    font-size:1em;
  }
  .headshot{
    width:150px;
    position:static;
    padding:0;
    margin:0;
    margin-left:3%;
    margin-top:2%;
  }
  .contact-content{
    font-size:.6em;
    position:static;
    padding:0;
    margin:0;
  }
  .contact-content a{
    margin-bottom:2em;
  }
}
@media screen and (max-width:480px){
  .slide{
    margin:0;
    height:55%;
    width:50%;
  }
  .left{
    left:0;
  }
  .right{
    right:8.3em;
  }
  figcaption{
    font-size:1em;
  }
}
