/*body{
  margin:0;
}
h1{
  color:white;
  text-align:center;
}
#home, #about, #contact{
  display:inline-block;
  position:relative;
  width:100%;
}
#home{
  background:url(../assets/images/lips.jpg) right bottom no-repeat fixed;
  background-size:cover;
  display:block;
  height:100%;
  opacity:.9;
}

#about{
  background:#b41547;
}

.headshot{
  border-radius:50%;
  left:0;
  margin:50px;
  top:0;
  width:250px;
}

.about-content p{
  float:right;
}

#contact{
  background:#0383a7;
}*/
body{
  margin:0;
}
header{
  background-image:url(../assets/images/lips.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  height:100%;
  background-attachment:fixed;
  color:white;
  text-align:center;
}
#about{

}
#portfolio{

}
#contact{
  background-color:gray;
}
li img{
  width:250px;
  height:200px;
}
li{
  list-style-type:none;
}
.photos li{
  display:inline;
}
