/*body{
  margin:0;
}
h1{
  color:white;
  text-align:center;
}
#home, #about, #contact{
  display:inline-block;
  position:relative;
  width:100%;
}
#home{
  background:url(../assets/images/lips.jpg) right bottom no-repeat fixed;
  background-size:cover;
  display:block;
  height:100%;
  opacity:.9;
}

#about{
  background:#b41547;
}

.headshot{
  border-radius:50%;
  left:0;
  margin:50px;
  top:0;
  width:250px;
}

.about-content p{
  float:right;
}

#contact{
  background:#0383a7;
}*/
*, html{
  margin:0;
  padding:0;
}
body{

}
header{
  background-image:url(../assets/images/lips.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  height:100%;
  background-attachment:fixed;
  color:white;
  text-align:center;
}
.headshot{
  border-radius:50%;
  left:0;
  margin:50px;
  top:0;
  width:250px;
}
#about{
  background-color:#8F232F;
}
#about p{

}
#portfolio{
  background-color:#9D527B;
  height:300px;
}
div{
  width:2500px;
  height:200px;
}
img{
  width:250px;
  height:200px;
  display:inline-block;
  padding:10px;
}
#contact{
  background-color:#955C9B;
}
li{
  list-style-type:none;
}
