@font-face{
  font-family:'bebas_neuebold';
  src:url('../assets/bebas/bebasneu_bold-webfont.eot');
  src:url('../assets/bebas/bebasneue_bold-webfont.eot?#iefix')
  format('embedded-opentype'),
  url('../assets/bebas/bebasneue_bold-webfont.woff2')
  format('woff2'),
  url('../assets/bebas/bebasneue_bold-webfron.woff')
  format('woff'),
  url('../assets/bebas/bebasneue_bold-webfont.ttf')
  format('truetype'),
  url('../assets/bebas/bebasneue_bold-webfont.svg#bebas_neuebold')
  format('svg');
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family:'bebas_neuelight';
  src:url('../assets/bebas/bebasneue_light-webfont.eot');
  src:url('../assets/bebas/bebasneue_light-webfont.eot?#iefix')
  format('embedded-opentype'),
  url('../assets/bebas/bebasneue_light-webfont.woff2')
  format('woff2'),
  url('../assets/bebas/bebasneue_light-webfont.woff')
  format('woff'),
  url('../assets/bebas/bebasneue_light-webfont.svg#bebas_neuelight')
  format('svg');
  font-weight:normal;
  font-style:normal;
}

body{
  background:#f3eff0;
  color:#f3eff0;
  font-family:'PT Sans', Helvetica, Arial, sans-serif;
  font-size:100%;
  height:100%;
  margin:0;
  overflow-x:hidden;
  padding:0;
  width:100%;
}

h1,h2,h3,h4,h5,p{
  font-weight:normal;
  margin:0;
  padding:.3em 0;
  width:100%;
}

h1{
  color:#0383a7;
  font-family:'bebas_neuebold', Helvetica, Arial, sans-serif;
  font-size:6em;
  line-height:115%;
  margin:0 auto;
  max-width:8.5em;
  text-align:center;
  text-shadow:2px 2px 0 #282520;
}

h2{
  font-family:'bebas_neuebold', Helvetica, Arial, sans-serif;
  font-size:4em;
  padding-top:.6em;
  text-align:center;
  text-shadow:1px 1px 0 #282520;
}

h3{
  font-size:1.8em;
}

h4{
  font-size:2.0em;
  font-family:'bebas_neuelight', Helvetica, Arial, sans-serif;
  margin-bottom:1em;
}

h5{
  font-size:.7em;
  padding:.5em;
  width:auto;
}

p{
  font-size:1.5em;
  line-height:120%;
}

.typcn{
  font-family:'typicons';
  font-size:3em;
  text-align:center;
  top:100px;
}

.typcn, #nav ul li a, .project .caption{
  -webkit-transition: all 300ms ease-out;
  -moz-transition:all 300ms ease-out;
  -o-transition:all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition:all 300ms ease-out;
}

.typcn:hover{
  color:#1dc4f3;
}

a{
  margin:0;
  text-decoration:none;
}

#about a, #portfolio a{
  color:#1dc4f3;
}

#contact a, #footer a{
  color:#f3eff0;
}

h3 a:hover, h5 a:hover, p a:hover{
  text-decoration:underline;
}

#home, #about, #portfolio, #contact, #footer{
  display:inline-block;
  margin:0;
  padding:0;
  position:relative;
  width:100%;
}

#home{
  background:url('../assets/images/lips.jpg') right bottom no-repeat fixed;
  background-size:cover;
  display:block;
  height:900px;
}

#about{
  background:#f3eff0;
  color:#282520;
}

#portfolio{
  background:#0383a7;
}

#contact{
  background:#b41547;
}

#footer{
  background:#282520;
}

.left-border, .right-border{
  bottom:0;
  position:absolute;
  top:0;
}

.left-border{
  left:0;
}

.right-border{
  right:0;
}

.headshot{
  border-radius:300px;
  left:0;
  margin:50px;
  top:0;
  width:300px;
}

.about-content{
  display:inline-block;
  margin: 0 15em;
}

.about-content h2{
  color:#b41547;
}

#nav ul{
  list-style-type:none;
  margin:1em auto;
  margin-bottom:3em;
  padding:0;
  text-align:center;
}

#nav ul li{
  display:inline-block;
  margin:2em;
  padding:0;
}

#nav ul li a{
  border:1px solid #1dc4f3;
  border-radius:10px;
  display:block;
  font-size:1.8em;
  font-family:'bebas_neuebold' Helvetica, Arial, sans-serif;
  padding:.4em;
  width:4em;
}

#nav ul li a:hover{
  background:#1dc4f3;
  color:#f3eff0;
}

.project{
  display:inline-block;
  float:left;
  margin:50px 1%;
  position:relative;
  width:30%;
}

.project:first-of-type{
  margin-left:3%;
}

.project img{
  display:block;
  width:100%;
}

.project .caption{
  background:#282520;
  bottom:0;
  left:0;
  opacity:0;
  position:absolute;
  right:0;
  top:0;
  z-index:100;
}

.project:hover .caption{
  opacity:0.9
}

.project h3, .porject p{
  margin:.2em 5%;
  padding:0;
  width:90%;
}

.project h3{
  color:#b41547;
  font-weight:bold;
  margin-top:.5em;
}

.project p{
  font-size:1em;
}

.contract-content{
  left:400px;
  margin:75px 0;
  position:absolute;
  right:50px;
  text-align:center;
  top:0;
}

.contact-content a{
  display:inline-block;
  margin:0 5%;
}

.contact-content a:first-of-type{
  margin-left:0;
}

.contact-content a:last-of-type{
  margin-right:0;
}

@media handheld, screen and (max-width:64em){
  body, #home{
    background:#282520;
  }
  #home{
    display:inline-block;
    height:auto;
  }
  h1{
    margin:.5em 10%;
    width:80%;
  }
}

@media handheld, screen and(max-width:60em){
  body{
    font-size:90%;
  }
  #contact{
    margin-top:-4px;
  }
  .about-content{
    margin:0 16em;
  }
  .project{
    float:none;
    margin:20px 12.5% !important;
    width:75%;
  }
  .project .caption{
    opacity:0.9;
  }
}

@media handheld, screen and (max-width:53em){
  .left-border, .right-border{
    display:none;
  }
  .about-contnet{
    margin:0 5%;
    width:90%;
  }
  #nav ul li{
    margin:10px;
  }
}

@media handheld, screen and(max-width:45em){
  #content{
    text-align:center;
  }
  #footer{
    text-align:center;
  }
  h1{
    font-size:4.5em;
    line-height:100%;
    margin:.3em 5%;
    width:90%;
  }
  .headshot{
    margin:20px;
    width:200px;
  }
  .project{
    margin:20px 7.5% !important;
    width:85%;
  }
  .contact-content{
    left:0;
    margin:0 5%;
    margin-bottom:20px;
    position:relative;
    right:0;
    width:90%;
  }
}
